body{
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: var(--font-color);
    box-sizing: border-box;
}
:root{
    --navigation-color: rgba(243, 237, 237, 0.5);
    --main-color: #dcdcdc;
    --hamburger-color: rgb(39, 39, 39);
    --font-color: rgb(21, 21, 21);
    --font-hover: rgb(255, 255, 255);
}
.navigation-bar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navigation-color);
    backdrop-filter: blur(10px);
}
.navigation-bar img{
    height: 50px;
    width: 50px;
}
.navigation-bar svg{
    display: none;
}
.navigation-menu{
    list-style: none;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation-menu a{
    text-decoration: none;
}
.navigation-menu li{
    transition: 200ms;
}
.navigation-menu li:hover{
    color: var(--font-hover)
}
#mobile-icon{
    display: none;
}
main {
    padding-top: 60px;
}
.main-header{
    width: 90%;
    height: 800px;
    max-height: 100%;
    margin: 0 auto;
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    place-items: center;
}
.main-header img{
    width: 50%;
    transform: rotate(-10deg);
    z-index: -1;
    border-radius: 5px;
}
.main-header h1{
    font-size: 7vw;
    font-weight: 400;
}
.main-header h1:first-child{
    align-self: flex-end;
    font-family: "Edu VIC WA NT Beginner", cursive;
}
.main-header h1:nth-of-type(2){
    align-self: flex-start;
}
.main-header h4{
    align-self: flex-start;
}
.about-me{
    width: 90%;
    height: 800px;
    max-height: 100%;
    padding: 50px;
    margin: 200px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-me h1{
    font-size: 6vw;
}
.about-me img{
    width: 20%;
}
.about-me .first-image{
    justify-self: start;
    width: 80%;
    border-radius: 5px;
}
.about-me p{
    width: 60%;
    justify-self: end;
    align-self: center;
    text-align: right;
}
.about-me .second-image{
    transform: rotate(-10deg);
    width: 20%;
    justify-self: end;
    align-self: center;
    border-radius: 3px;
    z-index: -1;
}
.work-experience{
    margin: 100px auto;
    width: 90%;
    height: 600px;
    max-height: 100%;
    padding: 50px;
    display: grid;
    grid-template-rows:  1fr 3fr;
}
.title{
    font-weight: 600;
}
.work-experience h1{
    text-transform: uppercase;
    font-size: 5vw;
    
}
.work-experience div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.work-experience div img{
    width: 100%;
    justify-self: flex-end;
    align-self: center;
    border-radius: 3px;
}
.work-exp div{
    display: flex;
    flex-direction: column;
}
.skills-expertise{
    margin: 100px auto;
    width: 90%;
    height: 600px;
    max-height: 100%;
    padding: 50px;
    display: grid;
    grid-template-rows:  1fr 3fr;
}
.skills-pictures img{
    width: 20px;
}
@media only screen and (max-width: 1200px){
    .navigation-menu{
        width: 60%;
    }
    .main-header{
        padding: 20px;
    }
    .main-header img{
        width: 70%;
    }
    .main-header h1{
        font-size: 9vw;
    }
    .about-me .second-image{
        width: 30%;
    }
    .about-me p{
        width: 70%;
    }
}
@media only screen and (max-width: 992px){
    .navigation-menu{
        width: 65%;
    }
    .main-header{
        padding: 10px;
        grid-template-rows: 0.5fr 2fr 0.5fr 2fr;
    }
    .main-header img{
        width: 90%;
    }
    .main-header h1{
        font-size: 12vw;
    }
    .about-me{
        margin: 100px auto;
    }
    .about-me .second-image{
        width: 40%;
    }
    .about-me p{
        width: 80%;
    }
}
@media only screen and (max-width: 768px){
    .navigation-bar h4{
        display: none;
    }
    #mobile-icon{
        display: block;
    }
    .navigation-menu{
        display: none;
    }
    .navigation-bar svg{
        display: block;
        width: 50px;
        height: 50px; 
        fill: var(--hamburger-color)
    }
    .main-header{
        grid-template-rows: 0.7fr 2fr 0.3fr 2fr;
    }
    .main-header img{
        width: 100%;
        height: 90%;
    }
    .about-me{
        margin: 10px auto;
        padding: 20px;
    }
    .about-me .second-image{
        align-self: flex-start;
        width: 60%;
    }
    .about-me p{
        align-self: flex-start;
        width: 100%;
    }  
    .work-experience{
        padding: 10px;
        gap: 10px;
    }
    .work-experience div{
        grid-template-columns: none;
    }
    .work-experience h1{
        font-size: 8vw;
    }
}
@media only screen and (max-width: 576px){
    .main-header{
        grid-template-rows: 0.7fr 2fr 0.3fr 1fr;
    }
    .about-me {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
    }
    .about-me h1{
        padding: 10px;
        align-self: flex-end;
        justify-self: center;
    }
    .about-me .first-image{
        padding: 10px;
        width: 100%;
        place-self: center;
    }
    .about-me p{
        padding: 10px;
        text-align: justify;
        place-self: center;
    }
    .about-me .second-image{
        transform: rotate(20deg);
        width: 30%;
    }
    .work-experience h1{
        font-size: 9vw;
        align-self: flex-end;
    }
}